#root {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.instruction-bar > * {
  padding-left: 4px;
  padding-right: 4px;
}

.information-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* previous instructions styles */

.previous-instructions-list-container {
  display: flex;
  flex-direction: column;
}

.previous-instructions-list-header-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.previous-instruction-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

/* Register styles */

.register-list-container {
  display: flex;
  flex-direction: column;
}

.register-list-header-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
}

.register-container {
  display: grid;
  grid-template-columns: auto auto auto 50px;
  column-gap: 50px;
}

/* Memory address (variable) styles */

.memory-address-list-container {
  display: flex;
  flex-direction: column;
}

.memory-address-list-header-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
}

.memory-address-container {
  display: grid;
  grid-template-columns: auto auto auto 50px;
  column-gap: 50px;
}

/* Flags style */ 

.flag-list-container {
  display: flex;
  flex-direction: column;
}

.flag-list-header-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.flag-container {
  display: grid;
  grid-template-columns: auto auto;
}

/* Error styles */

.error-text {
  color: lightcoral;
}